<?xml version='1.0' encoding='utf-8'?>
<widget id="com.echoes.runsquare" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Runs Square</name>
    <description>
        A simple game that makes you help the white square runs to escape the evil squares.
    </description>
    <author email="gillvelleda@gmail.com" href="https://github.com/g1ll?tab=repositories">
        G. V. Gonzales
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="hdpi" src="res/icon/android/icon-72-hdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova.custom.plugins.exitapp" spec="~1.0.0" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <engine name="android" spec="^7.0.0" />
</widget>
